.item {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    
}

.bolded {
    font-weight: bold;
    
}

.flecha {
    margin-left: 10px;
}

.texto-adicional.oculto {
    display: none;

}

.botones-container {
    display: flex;
    flex-direction: column; 
}

#contenedorDelGrafico {
    width: 50%; 
    height: auto; 
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    margin: 0 auto;
}